@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

header {
	height: 60px;
	border-bottom: solid 1px #e5e5e5;
	padding: 20px;
	font-size: 36px;
	display: flex;
	margin-bottom: 30px;
}

button {
	outline: none;
}

main {
	padding: 20px 40px;
}

main section:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

main section:first-child button {
	background-color: #1b17e9;
	color: white;
	font-size: 24px;
	height: 50px;
	width: 160px;
	border-radius: 14px;
}

main section:first-child button:hover {
	background-color: #1b17e9;
}

main section:last-child {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.counter {
	padding: 0 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.wrapper p {
	background-color: #1b17e9;
	height: 80px;
	width: 80px;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 14px;
	margin: 20px;
}

.no-button {
	height: 40px;
	width: 40px;
}

.wrapper button {
	height: 40px;
	width: 40px;
	background-color: white;
	border: none;
}

.wrapper button:hover {
	color: #1b17e9;
}

.counter div:last-child button {
	background-color: #1b17e9;
	height: 50px;
	width: 120px;
	border-radius: 14px;
	color: white;
	font-size: 24px;
	border: none;
}

.counter div:last-child button:hover {
	background-color: #070663;
}

footer {
	font-size: 15px;
	text-align: center;
	padding-top: 100px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

/* Responsive */

@media (max-width: 768px) {
	main section:last-child {
		flex-direction: column;
	}

	.counter {
		padding-bottom: 40px;
	}

	.counter:not(:first-child) {
		padding-top: 40px;
	}

	.counter:not(:last-child) {
		border-bottom: #e5e5e5 solid 2px;
	}

	main section:first-child {
		height: 50px;
	}

	footer {
		padding: 20px 0;
	}
}

@media (max-width: 576px) {
	header {
		height: 40px;
		font-size: 24px;
	}
	footer {
		padding-top: 20px;
	}
}
